.waves {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.waves::before {
  display: none;
}

.waves-canvas {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  animation: hue-shift 12s linear infinite;
}

.waves {
  background: transparent !important;
}

@keyframes hue-shift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
